<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小沙漠Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdui@1.0.1/dist/css/mdui.min.css">
    <link rel="stylesheet" href="/media/css/post.css">
    <link rel="stylesheet" href="/media/live2d/css/live2d.css" />
    
</head>
<body class=" mdui-appbar-with-toolbar  mdui-theme-primary-pink mdui-theme-accent-pink">
<header class="mdui-toolbar mdui-color-pink mdui-appbar-fixed mdui-appbar-scroll-toolbar-hide" style="z-index: 1000">
    <a href="javascript:;" mdui-drawer="{target: '#left-drawer',overlay:true}" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">menu</i></a>
    <span class="mdui-typo-title">小沙漠Blog</span>
    <div class="mdui-toolbar-spacer"></div>
<!--    <a href="javascript:history.go(0);" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">search</i></a>-->
    <a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">more_vert</i></a>
</header>

<div class="mdui-drawer mdui-color-white mdui-drawer-full-height mdui-drawer-close" id="left-drawer">
    <ul class="mdui-list">
        <li class="mdui-subheader">菜单</li>
        
        <li class="mdui-list-item mdui-ripple">
            <a href="/" class="mdui-list-item-content">首页</a>
        </li>
        
        <li class="mdui-list-item mdui-ripple">
            <a href="https://smallds.github.io/jia-ru-si-you-csgo-fu-wu-qi" class="mdui-list-item-content">玩游戏</a>
        </li>
        
    </ul>
</div>

<div id="content" class="site-content">
    <div id="primary" class="content-area">
        <main id="main" class="site-main" role="main">
            <article id="post-1270" class="post-1270 post type-post status-publish format-standard hentry category-90 category-129 tag-149">
                <header class="entry-header">
                    <h1 class="entry-title">Typora</h1>
                    <p class="entry-census">发布于 2022-07-11</p>
                    <hr>
                </header>
                <div class="neko">
                    <h1 id="typora下载">Typora下载</h1>
<p><a href="https://git.smallds.com/https://github.com/SmallDS/smallds.github.io/releases/download/exe/typora.zip">点我点我</a></p>

                </div>
            </article>
        </main>
    </div>
    <div class="doc-footer-nav mdui-color-theme">
        <div class="mdui-container">
            <div class="mdui-row">
                
                <a href="https://smallds.github.io/clahs-han-hua/" class="mdui-ripple mdui-color-theme mdui-col-xs-2 mdui-col-sm-6 doc-footer-nav-left">
                    <div class="doc-footer-nav-text">
                        <i class="mdui-icon material-icons">arrow_back</i>
                        <span class="doc-footer-nav-direction mdui-hidden-xs-down">上一篇文章</span>
                        <div class="doc-footer-nav-chapter mdui-hidden-xs-down">Clahs汉化</div>
                    </div>
                </a>
                
                
                <a href="https://smallds.github.io/jia-ru-si-you-csgo-fu-wu-qi/" class="mdui-ripple mdui-color-theme mdui-col-xs-10 mdui-col-sm-6 doc-footer-nav-right">
                    <div class="doc-footer-nav-text">
                        <i class="mdui-icon material-icons">arrow_forward</i>
                        <span class="doc-footer-nav-direction">下一篇文章</span>
                        <div class="doc-footer-nav-chapter">加入私有CSGO服务器</div>
                    </div>
                </a>
                
            </div>
        </div>
    </div>
    <br>
    
    
    <div id="vue_app">
        <!--头像-->
        <div class="mdui-card">
            <!-- 卡片头部，包含头像、标题、副标题 -->
            <div class="mdui-card-header">
                <img style="cursor:pointer" @click="avatarOpen" class="mdui-card-header-avatar" :src="avatar"/>
                <div class="mdui-card-header-title">评论列表</div>
                <div class="mdui-card-header-subtitle"><-点击图标可以更换头像哦！！~~</div>
            </div>
        </div>
        <br/>

        <!--发表评论框-->
        <reply @submit="replySubmit"></reply>

        <!--评论列表-->
        <div v-for="(v,k) in list">
            <br>
            <div class="mdui-card">
                <!-- 卡片头部，包含头像、标题、副标题 -->
                <div class="mdui-card-header">
                    <img class="mdui-card-header-avatar" :src="v.attributes.img"/>
                    <div v-if="v.attributes.website" class="mdui-text-color-theme mdui-card-header-title mdui-typo">
                        <a target="view_window" :href="v.attributes.website">{{v.attributes.nickname}}</a>
                        <span v-if="v.attributes.is_author" class="mdui-text-color-theme">（博主）</span>
                    </div>
                    <div v-else class="mdui-card-header-title">
                        <span>{{v.attributes.nickname}}</span>
                        <span v-if="v.attributes.is_author" class="mdui-text-color-theme">（博主）</span>
                    </div>
                    <div class="mdui-card-header-subtitle">{{time_format("Y年m月d日 H点s分",v.attributes.time)}}</div>
                </div>

                <!-- 卡片的内容 -->
                <div class="mdui-card-content" v-html="v.attributes.txt"></div>

                <div>
                    <ul class="mdui-list" v-for="vv in JSON.parse(v.attributes.reply_son)">
                        <li class="mdui-list-item">
                            <div class="mdui-list-item-avatar"><img :src="vv.img"/></div>
                            <div class="mdui-list-item-content"  style="height: auto">
                                <div v-if="vv.website" class="mdui-list-item-title mdui-typo">
                                    <a target="view_window" :href="vv.website" class="mdui-text-color-theme">{{vv.nickname}}</a>
                                    <span v-if="vv.is_author" class="mdui-text-color-theme">（博主）</span>
                                    <span class="mdui-typo-caption-opacity">{{time_format("Y年m月d日 H点s分",vv.time)}}</span>
                                </div>
                                <div v-else class="mdui-list-item-title">
                                    {{vv.nickname}}
                                    <span v-if="vv.is_author" class="mdui-text-color-theme">（博主）</span>
                                    <span class="mdui-typo-caption-opacity">{{time_format("Y年m月d日 H点s分",vv.time)}}</span>
                                </div>
                                <div class="mdui-list-item-text mdui-typo">
                                    <a v-if="vv.reply_website" :href="vv.reply_website" target="view_window" class="mdui-typo">@{{vv.reply_nickname}}</a>
                                    <a v-else class="mdui-typo">@{{vv.reply_nickname}}</a>：
                                    <span class="reply_son" v-html="vv.txt"></span>
                                </div>
                            </div>

                            <div>
                                <button
                                        @click="reply2(k,vv.id,vv.nickname,vv.email,vv.website)"
                                        class="mdui-btn mdui-text-color-pink"
                                >
                                    回复
                                </button>
                            </div>
                        </li>
                        <li class="mdui-divider-inset mdui-m-y-0"></li>
                    </ul>
                </div>

                <div class="mdui-card-actions">
                    <button
                            @click="reply2(k,v.id,v.attributes.nickname,v.attributes.email,v.attributes.website)"
                            style="float:right "
                            class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent"
                    >
                        回复
                    </button>
                </div>
            </div>
        </div>
        <br/>
        <div style="text-align:center" v-if="list.length!=0">
            <button @click="loadMore" class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent">加载更多</button>
        </div>

        <!--回复的弹窗-->
        <div class="mdui-dialog" id="reply_mode">
            <div class="mdui-dialog-title">
                <span>回复</span>
                <span class="mdui-text-color-theme">@{{replyList.nickname}}</span>
                <span style="float:right ">
                    <button class="mdui-btn"  @click="reply2Close">取消回复</button>
                </span>
            </div>
            <reply @submit="reply2Submit"/>
        </div>

        <!--选头像的弹窗-->
        <div class="mdui-dialog" id="avatar_mode">
            <div class="mdui-dialog-title">
                选择头像
                <span style="float:right ">
                    <button class="mdui-btn"  @click="avatarClose">取消选择</button>
                </span>
            </div>
            <avatar @choice="avatarChoice"></avatar>
        </div>
    </div>
    <object data="/media/js/modular/reply/reply.html" width="0" height="0" id="reply_object"></object>
    <object data="/media/js/modular/emoji/emoji.html" width="0" height="0" id="emoji_object"></object>
    <object data="/media/js/modular/avatar/avatar.html" width="0" height="0" id="avatar_object"></object>
    
</div>
<footer class="mdui-container footer ">
<!--    <div class="head_card-offset"></div>-->
    <div class="mdui-row mdui-row-gapless">
        <div class="k-container">
            <img width="100%" src="/media/img/skirt.png">
        </div>
    </div>

    <div class="site-info">
        Powered by <a href="https://my.smallds.com" target="_blank">小小沙漠</a>
    </div>
</footer>
<div id="landlord" style="left:5px;bottom:0px;">
    <div class="message" style="opacity:0"></div>
    <canvas id="live2d" width="500" height="560" class="live2d"></canvas>
    <div class="live_talk_input_body">
        <div class="live_talk_input_name_body">
            <input name="name" type="text" class="live_talk_name white_input" id="AIuserName" autocomplete="off" placeholder="你的名字" />
        </div>
        <div class="live_talk_input_text_body">
            <input name="talk" type="text" class="live_talk_talk white_input" id="AIuserText" autocomplete="off" placeholder="要和我聊什么呀？"/>
            <button type="button" class="live_talk_send_btn" id="talk_send">发送</button>
        </div>
    </div>
    <input name="live_talk" id="live_talk" value="1" type="hidden" />
    <div class="live_ico_box">
        <div class="live_ico_item type_info" id="showInfoBtn"></div>
        <div class="live_ico_item type_talk" id="showTalkBtn"></div>
        <div class="live_ico_item type_music" id="musicButton"></div>
        <div class="live_ico_item type_youdu" id="youduButton"></div>
        <div class="live_ico_item type_quit" id="hideButton"></div>
        <input name="live_statu_val" id="live_statu_val" value="0" type="hidden" />
        <audio src="" style="display:none;" id="live2d_bgm" data-bgm="0" preload="none"></audio>
        <input name="live2dBGM" value="https://img.apa70.com/123.mp3" type="hidden">
        <input name="live2dBGM" value="https://img.apa70.com/123.mp3" type="hidden">
        <input id="duType" value="douqilai,l2d_caihong" type="hidden">
    </div>
</div>
<div id="open_live2d">召唤伊斯特瓦尔</div>
<script>
    var message_Path = '/media/live2d/';//资源目录，如果目录不对请更改
    var talkAPI = "";//如果有类似图灵机器人的聊天接口请填写接口路径
</script>
<!--<script src="/media/js/jquery-3.3.1.min.js"></script>-->
<script src="//apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="/media/live2d/js/live2d.js"></script>
<script type="text/javascript" src="/media/live2d/js/message.js"></script>

</body>
<script src="//cdn.jsdelivr.net/npm/mdui@1.0.0/dist/js/mdui.min.js"></script>
<script src="/media/layer/layer.js"></script>
<script src="//cdn.jsdelivr.net/npm/leancloud-storage@4.11.1/dist/av-min.js"></script>
<script src="//unpkg.com/vue@next"></script>
<script>
    
    //初始化leancloud的SDK
    AV.init({
        appId: "",
        appKey: "",
        serverURL: ""
    });
    
</script>
<script type="module" src="/media/js/post.js"></script>
</html>
